* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.title{
position:relative;
  top:-1px;
  right:-1px;
  border:1px solid black;
  background:green;
}
.row {
  width: 100%;
  position: relative;
}
p {
  border: 1px solid black;
  background-color: #A52A2A;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: white;
}
/*********************/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
    border:1px solid black;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
     width: 50%;
    border:1px solid black;
  }
}

@media (max-width: 767px) {
  
}
