* {
  box-sizing: border-box;
}
.title{
position:absolute;
  top:1px;
  right:1px;
}
#c1{
border:1px solid black;
}
#c2{
border:1px solid green;
}
#c3{
border:1px solid yellow;
}
.row {
  width: 100%;
}
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
  }
   .col-lg-4 {
    width: 33.33%;
  }
}
 

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
}

@media (max-width: 767px) {
  
}
